if AFB_ZEPHYR_MBEDTLS
    config MBEDTLS
        default y
    choice MBEDTLS_IMPLEMENTATION
        default MBEDTLS_BUILTIN
    endchoice
    config MBEDTLS_DEBUG
        default y
    config MBEDTLS_ENABLE_HEAP
        default y
    config MBEDTLS_HEAP_SIZE
        default 60000
    config MBEDTLS_SSL_MAX_CONTENT_LEN
        default 2048
    config NET_SOCKETS_SOCKOPT_TLS
        default y
    config NET_SOCKETS_TLS_MAX_CONTEXTS
        default 6
endif # AFB_ZEPHYR_MBEDTLS
