if AFB_ZEPHYR
    config POSIX_API
        default y
    # Threading
    #config PTHREAD_IPC
    config POSIX_THREADS
        default y
    config THREAD_STACK_INFO
        default y
    config DYNAMIC_THREAD
        default y
    config DYNAMIC_THREAD_ALLOC
        default y
    choice DYNAMIC_THREAD_PREFER
        default DYNAMIC_THREAD_PREFER_ALLOC
    endchoice # DYNAMIC_THREAD_PREFER
    config DYNAMIC_THREAD_POOL_SIZE
        default 4
    config DYNAMIC_THREAD_STACK_SIZE
        default 2048
    config LOG_BLOCK_IN_THREAD
        default y
    config LOG_BLOCK_IN_THREAD_TIMEOUT_MS
        default 1000

    # ZVFS (Zephyr virtual filesystem)
    config ZVFS_OPEN_MAX
        default 20
    config ZVFS
        default y
    config ZVFS_EVENTFD
        default y
    config ZVFS_EVENTFD_MAX
        default 4

    # Stacks
    config MAIN_STACK_SIZE
        default 4096
    config INIT_STACKS
        default y

    # Logging
    config LOG
        default y
endif # AFB_ZEPHYR